{% extends 'account/login.html' %}
{% load widget_tweaks %}
{% block title %}Rejesha password{% endblock title %}
{% block account %}
    <h1 class="sign-up__title">Rejesha Password</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <h2 class="sign-up__subtitle">Weka email yako</h2>
    <form action="{% url 'account_reset_password' %}" method="post" class="form">
        {% csrf_token %}
        <label for="id_email" class="form-label-wrapper">
            <p class="form-label">Weka E-mail</p>
        {{ form.email|attr:"class:form-input" }}
        </label>
        <input type="submit" value="Rejesha password" class="form-btn primary-default-btn transparent-btn">
    </form>
{% endblock account %}