{% extends 'account/login.html' %}
{% load widget_tweaks %}
{% block title %}Success{% endblock title %}
{% block account %}

    {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a></p>
    {% else %}
    <h1 class="sign-up__title">Badilisha password</h1>
    <form action="{{ action_url }}" method="post" class="form">
        {% csrf_token %}
        <label for="id_password1" class="form-label-wrapper">
            <p class="form-label">Password Mpya</p>
        {{ form.password1|attr:"class:form-input"|attr:"placeholder:Password mpya..." }}
        </label>
        <label for="id_password2" class="form-label-wrapper">
            <p class="form-label">Rudia password mpya</p>
            {{ form.password2|attr:"class:form-input"|attr:"placeholder:Rudia Password mpya..." }}
        </label>
        <input type="submit" value="Badili Password" class="form-btn primary-default-btn transparent-btn">
    </form>
    {% endif %}
{% endblock account %}