<footer class="footer" >
    <div class="container footer--flex" >
      <div class="footer-start"  >
        <p>
          <strong>Smartshop</strong> <br>
          <span id="date"></span> © <a href="https://github.com/mrshanas" target="_blank" style="text-decoration:none;">Shanas
        </p>
      </div>
      <ul class="footer-end">
        <li><a href="mailto:nassibshaban345@gmail.com">Unahitaji Msaada</a></li>
        <li><a href="tel:+255716689401">Wasiliana Nasi</a></li>
      </ul>
    </div>
  </footer>