{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Bidhaa | {{ product.name }}{% endblock title %}
{% block content %}
    <main class="main users chart-page" id="skip-target">
        <div class="container">
            <div class="col-lg-12">
                <div class="users-table table-wrapper">
                    <table class="posts-table">
                        <thead>
                            <tr class="users-table-info">
                                <th>#</th>
                                <th>Aina</th>
                                <th>Jina la Bidhaa</th>
                                <th>Wingi</th>
                                <th>Bei (Tsh)</th>
                                <th>Tarehe Iliyowekwa</th>
                                <th>Tarehe Iliyorekebishwa</th>
                                <th>Tendo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in product %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ p.category }}</td>
                                    <td>{{ p.name }}</td>
                                    <td>{{ p.quantity }}</td>
                                    <td>{{ p.price|floatformat }}</td>
                                    <td>
                                        {% timezone "Africa/Nairobi" %}
                                          {{ p.created_at }}
                                        {% endtimezone %}
                                      </td>
                                      <td>
                                        {% timezone "Africa/Nairobi" %}
                                          {{ p.updated_at }}
                                        {% endtimezone %}
                                      </td>
                                      <td>
                                        <span class="p-relative">
                                          <button
                                            class="dropdown-btn transparent-btn"
                                            type="button"
                                            title="More info"
                                          >
                                            <div class="sr-only">Tendo</div>
                                            <i
                                              data-feather="more-horizontal"
                                              aria-hidden="true"
                                            ></i>
                                          </button>
                                          <ul class="users-item-dropdown dropdown">
                                            <li><a href="{% url 'shop:edit_product' p.id %}">Rekebisha</a></li>
                                            <li><a href="{% url 'shop:delete_product' p.id %}">Futa</a></li>
                                          </ul>
                                        </span>
                                      </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    {% include 'shop/footer.html' %}
{% endblock content %}